# =============== #
# Unity generated #
# =============== #
#Temp/
Obj/
doc/
UnityGenerated/
Library/
ProjectSettings/
Assets/AssetStoreTools*
atom-sdk/test/bin/Debug/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
# *.csproj
*.pidb
*.suo
# *.sln
*.user
*.unityproj
*.booproj
*.meta
# *.mdb
deploy_key

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db